* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#112b9e), to(#16e0bbfb));
  background-image: linear-gradient(to bottom right, #112b9e, #16e0bbfb);
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 100px;
}

.clock {
  position: relative;
  max-width: 400px;
  width: 100%;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.clock:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.clock-background {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.829);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.clock-background .data {
  position: absolute;
  top: -50%;
  text-align: center;
  padding-bottom: 100px;
  color: white;
  font-size: 29px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  text-align: center;
}

.clock-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 50%;
  border: 5px solid white;
}

.clock-inner .clock-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.clock-inner .hand {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: calc(50% - 20px);
  height: 6px;
  background-color: #fff;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  border-radius: 999px;
}

.clock-inner .hand.second {
  opacity: 0.5;
  height: 3px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.clock-inner .hand.minute {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.clock-inner .hand.hour {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: calc(50% - 80px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

@media (max-width: 670px) {
  .wrap {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 150px;
  }
  .wrap .clock {
    position: relative;
    max-width: 300px;
    width: 100%;
    -webkit-transform: scale(-1);
            transform: scale(-1);
  }
  .wrap .clock:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  .wrap .clock-background {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.815);
    position: relative;
  }
  .wrap .clock-background .data {
    position: absolute;
    top: -60%;
    text-align: center;
    padding-bottom: 100px;
    color: white;
    font-size: 29px;
    -webkit-transform: scale(-1);
            transform: scale(-1);
    text-align: center;
  }
  .wrap .clock-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid white;
  }
}
/*# sourceMappingURL=style.css.map */